html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif;
  line-height: 1.5;
  font-size: 105%;
}

body {
  background-color: whitesmoke;
  text-align: center;
}

a {
  color: inherit;
  text-underline-position: under;
}

button {
  font: inherit;
  border: 1px solid #ddd;
  padding: 0.5rem 1rem;
  border-radius: 2rem;
}

section {
  margin: 5rem 0;
}

select {
  font: inherit;
  height: 2rem;
  margin-left: 0.5rem;
  display: inline-block;
}
